# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env
.env.*

# OS-Specific Files
.DS_Store  # macOS
Thumbs.db  # Windows
ehthumbs.db # Windows thumbnail cache
Desktop.ini # Windows metadata
$RECYCLE.BIN/ # Windows Recycle Bin folder
*.bak  # Common Windows backup files

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
